<link rel="stylesheet" href="<%= stylesheet_path 'foundation.min' %>">
<script src="<%= javascript_path 'example' %>"></script>





<div>
  <h4>Hello there!!!</h4>
</div>

<script>
//   var webSocket = new WebSocket("ws://127.0.0.1:9292/reports/1");

//   webSocket.onopen = function(event) {
//     console.log("webSocket OPENED!!!");
//   };

//   webSocket.onmessage = function(event) {
//     var msg = event;
//     console.log(msg);
//   };

//   webSocket.onclose = function(event) {
//   };
</script>